@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/* Graphic background at the top of the page */
.background-image {
    background-image: url('../images/background.png');
    background-size: cover; /* or contain, depending on how you want it */
    height: 100%; /* Adjust height as needed */
    width: 100%;
    position: absolute;
}

/* Navbar container for Navigation menu */
.navbar-container {
    background-color: white;
    /*Using border radius to make it curve*/
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px;
}

/* Clickable Logo image */
.navbar-brand img {
    height: 40px;
}

/* Navigation menu buttons */
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Lora", serif;
    color: black;
    font-size: 20px;
}

  .sub-title {
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
  }

  .sub-text {
    font-size: 21px;
    font-family: "Lora", serif;
    color: black;
  }
  
  
  .bg-lightblue {
    background-color: #B6DAF0 !important;
  }

